#svgCircle{
    width: 100%;
}
#svgSquare{
    width: 100%;
}
.mySquare {
    float: left;
    width: 50%;
    margin: 5px;
}
.myCircle {
    float: left;
    width: 50%;
    margin: 5px;
    border-radius: 100%;
}